# Product Service - DB Secrets
apiVersion: v1
kind: Secret
metadata:
  name: product-service-db-secrets
  namespace: my-boutique
type: Opaque
stringData:
  USER_NAME: 
  USER_PASSWORD: 
---
# Order Service - DB Secrets
apiVersion: v1
kind: Secret
metadata:
  name: order-service-db-secrets
  namespace: my-boutique
type: Opaque
stringData:
  USER_NAME: 
  USER_PASSWORD: 
---
# Customer Service - DB Secrets
apiVersion: v1
kind: Secret
metadata:
  name: customer-service-db-secrets
  namespace: my-boutique
type: Opaque
stringData:
  USER_NAME: 
  USER_PASSWORD: 
